.contenitore {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    align-items: center; 
  }

 
  p {
    line-height: 1;
  }
  span {
    display: block;
    width: 2vmax; 
    height: 2vmax; 
    font-size: 2vmax;
    color: #9bff9b11;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }
  